.greyBox {
  height: 496px;
  width: 90vw;
  margin-left: 10%;
  background-color: #acacac;
  color: white;
}

.aboutUs {
  color: white;
  font-size: 70px;
  text-align: right;
  padding-right: 75px;
  /* transform: translate(0, 350px); */
}

.aboutText {
  font-size: 20px;
  color: black;
}

.rowStatement {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 40vw;
}

.statementText {
  font-size: 34px;
  color: black;
}

.coolBox {
  height: 82px;
  width: 82px;
  border: 2px solid #ffffff;
  margin: 0 0 40px 0;
  align-items: center;
  /* padding-top: 5px; */
}

.statement {
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
  margin-top: 80px;
  width: 340px;
  margin-right: 0px;
}
