.checkMarkBottom {
  width: 37px;
  height: 13px;
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 5px;
  transition: 1s ease-out;
}

.checkMarkTop {
  width: 13px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  transform: rotate(225deg);
  margin-left: 49px;
  margin-bottom: -19px;
  transition: 1s ease-out;
}
