.App {
  font-weight: bold;
}

.Top-boarder {
  height: 10px;
  width: 100%;
}

.line {
  background-color: black;
  height: 10px;
  width: 80px;
}

.NavBar {
  white-space: nowrap;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: left;
}
.NavItem {
  margin-top: 2rem;
  margin-left: 20px;
  margin-right: 40px;
}

.longLine {
  background-color: white;
  height: 8px;
  width: 100px;
}

.verticleLine {
  margin-left: 100px;
  background-color: black;
  min-width: 8px;
  height: 72px;
}

.thing {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 15px;
  margin-top: 6px;
}

.bigText {
  font-size: 60px;
  margin-top: 50px;
  margin-left: 200px;
}
.break {
  margin-right: 30%;
}

.App-header {
  background-color: #ffffff;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(27px);
  color: rgb(0, 0, 0);
}
